{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

  
    <div class="container">
    <h2>Mon panier</h2>
    <hr>
    {% if items|length > 0 %}
        <table>
            <thead class="cart-thead">
                <tr>
                    <th>Produit</th>
                    <th>Nom Produit</th>
                    <th class="hidden">Quantité</th>
                    <th class="hidden">Prix unitaire</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="cart-body">
                {% for item in items %}

                    <tr>
                        <td>
                            <div class="product-details">
                                <figure>
                                    <img src="{{ item.produit.image }}" alt="{{item.produit.nomProduit}}">
                                </figure> 
                            </div>
                        </td>
                        <td>
                            <p><a href="{{ path('show_produit', {id: item.produit.id}) }}">{{ item.produit.nomProduit }}</a></p>
                            <div class="reveal">   
                                <a href="{{ path('cart_decrement', {id: item.produit.id}) }}">
                                    <span class="icons icon-qtt">&minus;</span>
                                </a>
                                {{ item.qtt }}
                                <a href="{{ path('cart_add', {id: item.produit.id}) }}?returnToCart=true ">
                                    <span class="icons icon-qtt">&plus;</span>
                                </a>
                            </div>
                        </td>
                        <td class="hidden">
                            <a href="{{ path('cart_decrement', {id: item.produit.id}) }}">
                                <span class="icons icon-qtt">&minus;</span>
                            </a>
                            {{ item.qtt }}
                            <a href="{{ path('cart_add', {id: item.produit.id}) }}?returnToCart=true ">
                                <span class="icons icon-qtt">&plus;</span>
                            </a>
                        </td>
                         <td class="hidden">{{ item.produit.prix|amount }} </td>
                        <td>{{ (item.produit.prix * item.qtt)|amount}} </td>
                       
                        <td>
                            <a href="{{ path('cart_delete', {id: item.produit.id}) }}">
                                <span class="icons">&times;</span>
                            </a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total:</td>
                    <td>{{ total|number_format(2, '.', ',') }} €</td>
                    <td>
                        <a href="{{ path('cart_delete_all') }}"><span class="icons">&times;</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>

<<<<<<< HEAD
       <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Commander, {{ total|amount}}
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Paiement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
=======
        <div class="col-12 text-center text-md-right ">

        </div>
>>>>>>> 0420a25626decad11d0f73f9b9d895684c698c86
        {% if app.user %}
            <h4>Veuillez nous indiquer votre adresse de Livraison</h4>
            {{ form_start(confirmationForm, {'action':  path('commande_confirm')})}}
            {{ form_widget(confirmationForm) }}
            <button type="submit" class="btn btn-success">
                Je commande
            </button>
            {{ form_end(confirmationForm) }}
        {% else %}
            <h2>Vous devez être connecté pour confirmer cette commande</h2>
            <a href=" {{path('app_login')}}" class ="btn btn-success">connexion</a>ou
            <a href="{{ path('app_register') }}">Créez un compte</a>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

    </div>

       
    {% else %}
        <p>Panier est vide </p>
    {% endif %}
    
    </div>
{% endblock %}
