{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="products">
        {% for produit in produits %}
            <div class="product">
                <a href="{{ path('show_produit', {id: produit.id}) }}">
                    <img src="{{ produit.image }}" alt="{{produit.nomProduit}}">
                </a>
                <a href="{{ path('show_produit', {id: produit.id}) }}"> {{ produit.nomProduit }} </a>
                <p> {{ produit.prix|number_format(2, '.', ',') }} € </p>
                <a href="{{ path('cart_add', {id: produit.id}) }}?returnToHome=true">ajouter</a>
                <a href="{{ path('edit_produit', {id: produit.id}) }}">éditer</a>
                <a href="{{ path('delete_product', {id: produit.id}) }}">supprimer</a>
            </div> 
        {% endfor %}
        </div>
        <div class="pagination">
        {% set pages = (totalPage / limit)|round(0, 'ceil') %}
        <button class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="{{ (page == 1) ? '?page=' ~ (page - 1) : '' }}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </button>
            
            {% for item in 1..pages %}
                <button class="{{ (page == item) ? 'active' : '' }}">
                    <a href="?page={{ item }}">{{ item }}</a>
                </button>
            {% endfor %}
        <button class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </button>
        </div>
    </main>    
{% endblock %}
