{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container"> 

    

       <!-- Button trigger modal -->
<button type="button" class="btn mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fa-solid fa-magnifying-glass"> Rechercher</i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(formSearch)}}
        {{ form_row(formSearch.q)}}
        <h4>Marques :</h4>
        {{ form_row(formSearch.marques)}}
        <h4>Prix :</h4>
    
                {{ form_row(formSearch.min)}}

  
                {{ form_row(formSearch.max)}}
 
        <button type="submit" class="btn btn-primary w-100">Filtrer</button>
        {{ form_end(formSearch)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        
      </div>
    </div>
  </div>
</div>






    <div class="products">





        {% for produit in produits %}
            <div class="product-item">
                <a href="{{ path('show_produit', {id: produit.id}) }}">
                    <img src="{{ produit.image }}" alt="{{produit.nomProduit}}">
                </a>
                <div class="product-content">
                
                    <a href="{{ path('show_produit', {id: produit.id}) }}"><h4> {{ produit.nomProduit }} </h4></a>
                    <p class="price"> {{ produit.prix|number_format(2, '.', ',') }} € </p>
                    <button>
                        <a class="add-to-cart-btn" href="{{ path('cart_add', {id: produit.id}) }}?returnToHome=true&qtt=1"><i class="fa-solid fa-cart-shopping"></i><span>add to cart</span></a>
                    </button>
                </div>
                
            </div> 
        {% endfor %}

    </div>


        <div>
            {{ knp_pagination_render(produits) }}
        </div>
</div>
{% endblock %}
