{% extends 'base.html.twig' %}

{% block title %}detail produit{% endblock %}

{% block body %}

<div class='container'>
    <div class="show-product">
        <div class="recap-products">
            <figure class="recap-product-img">
                <img src="{{ produit.image }}">
            </figure> 
        </div>     
        <div class="recap-product-info">  
            <h4>{{ produit.SousCategorie }}</h4>
            <h2>{{ produit.nomProduit }}</h2>
            <h3>{{ produit.prix|amount }}</h3>
            <p>{{ produit.description }}</p>
            <p>{{ produit.quantite }}</p>
            <p>{{ produit.nbProduitDispo }}</p>
            <button>
                <a class="add-to-cart-btn" href="{{ path('cart_add', {id: produit.id}) }}?returnToProduct=true"><i class="fa-solid fa-cart-shopping"></i><span>add to cart</span></a>
            </button>
        </div>
    </div>
    <hr>
    <h4>Vos remarques sur le produit</h4>
    {% for avis in produit.avis %}
        <p> <i class="fa-solid fa-user"></i>{{ avis.user.nom}}{{avis.user.prenom}}</p>
        <p>Commenté : {{ avis.dateDepot|date('y-m-d h:i')}}</p>
        <p>Message : {{ avis.texte}}</p>
        <p>Note : {{ avis.note}}</p>
    {% else %}
        <p>Pas de avis encore pour ce produit</p>
    {% endfor %}

    {% if app.user %}

        {{ form_start(formAvis, {'action':  path('avis_add', {id: produit.id})})}}
        {{ form_row(formAvis.texte, {'label' : 'Message', 'attr' : { 'placeholder' : 'Votre message'}})}}
        {{ form_row(formAvis.note, {'label' : 'Votre note en nombre entier', 'attr' : {'placeholder' : 'Entre 1 et 5'}})}}
        <button type="submit" class="btn-success">
           Ajouter votre commentaire
        </button>
        {{ form_end(formAvis)}}
        

    {% else %}
        <h2>Vous devez être connecté pour pouvoir commenter</h2>
        <a href=" {{path('app_login')}}" class ="btn btn-success">Se connecter</a> ou
        <a href="{{ path('app_register') }}">Créez un compte</a>
    {% endif %}
    
</div>    
{% endblock %}
