{% extends "base.html.twig" %}

{% block title %}
  Payez votre commande avec stripe
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Numéro de commande </th>
            <th>Adresse</th>
            <th>produit</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{purchase.id}}</td>
            <td>{{purchase.adresseLivraison}} <br> {{purchase.cpLivraison}}, {{purchase.villeLivraison}} </td>
            <td>
                <ul> {% for item in purchase.produitCommandes %}
                        <li>({{item.quantite}})x {{item.produit.nomProduit}} ({{ item.total|amount}})</li>
                        
                    {% endfor %}
                </ul>
            </td>
            <td> {{purchase.total|amount}} </td>
        </tr>
    </tbody>
</table>
  <h3>Payez votre commande avec stripe</h3>
  <form id="payment-form">
    <div id="errors">
      <!--contiendra les messages d'erreurs de paiement-->
    </div>
    <input type="text" id="cardholder-name" placeholder="Titulaire de la carte">
    <div id="card-element">
      <!--Stripe.js injects the Card Element-->
    </div>
    <button id="submit" class="btn btn-success">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Payer avec stripe</span>
    </button>
    <p id="card-error" role="alert">
      <!--contendra les erreurs relatives à la carte-->
    </p>
  </form>
{% endblock %}
{% block javascripts %}

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const clientSecret = '{{ clientSecret }}'
    const stripePublicKey = '{{ stripePublicKey }}'
    const redirectAfterSuccessUrl = "{{ url('purchase_payment_success', {'id': purchase.id }) }}"
  </script>
  <script src="{{ asset('/js/paiement.js') }}"></script>
{% endblock %}
